.button {
  width: fit-content;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: white;
  /* font-weight: 500; */
  font-size: 14px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
  padding: 5px 14px;
}

.button:active {
  background-color: rgb(72, 150, 239);
  color: white;
}

.button:hover {
  cursor: pointer;
}
