.container {
  display: flex;
  justify-content: center;
}

.contactList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
  align-items: baseline;
}

.id {
  font-size: 20px;
  font-weight: 300;
}

.name {
  padding-left: 5px;
}

.number {
  padding-left: 10px;
}

.contactContainer {
  display: flex;
  gap: 50px;
}
